<h1 class="mb-2">My bookings</h1>


<nav>
  <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-current-tab" data-bs-toggle="tab" data-bs-target="#nav-current" type="button" role="tab" aria-controls="nav-current" aria-selected="true">Current</button>
    <button class="nav-link" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</button>
    <button class="nav-link" id="nav-future-tab" data-bs-toggle="tab" data-bs-target="#nav-future" type="button" role="tab" aria-controls="nav-future" aria-selected="false">Upcoming</button>
    <button class="nav-link" id="nav-past-tab" data-bs-toggle="tab" data-bs-target="#nav-past" type="button" role="tab" aria-controls="nav-past" aria-selected="false">Past</button>
  </div>
</nav>


<div class="tab-content mb-3" id="nav-tabContent">

  <!-- CURRENT BOOKINGS -->
  <div class="tab-pane fade show active" id="nav-current" role="tabpanel" aria-labelledby="nav-current-tab">
      <% @bookings.each do |b| %>
        <% if b.user == @user && b.status == "Confirmed" && Date.today.between?(b.start_date, b.end_date) %>

          <div class="card-product mb-3 border me-2 justify-content-between">
            <div class="d-flex">
              <%= cl_image_tag b.pokemon.picture.key, alt: b.pokemon.name, class: "avatar" %>
              <div class="card-product-infos">
                <h2><%= b.pokemon.name %></h2>
                <div class="d-flex mt-2">
                  <!-- Booking status -->
                  <div class="d-flex gap-1 padding-x">
                    <p style="color: #2572BDff;"><i class="fa-solid fa-circle-dot"></i></p>
                    <p>Ongoing</p>
                  </div>

                  <!-- Booking dates -->
                  <p class="padding-x border-start"><%= b.start_date.strftime("%B %d, %Y")  %> - <%= b.end_date.strftime("%B %d, %Y")  %></p>
                  <!-- Pokemon location -->
                  <p class="padding-x border-start">Location: <%= b.pokemon.location %></p>
                </div>
              </div>
            </div>

            <div class="d-grid btn-booking-index">
              <%= link_to "Details", booking_path(b), class:"btn btn-sm btn-primary m-0" %>
            </div>

          </div>
        <% end %>
      <% end %>
  </div>

  <!-- PENDING BOOKINGS -->
  <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
    <% @bookings.each do |b| %>
      <% if b.user == @user && b.status == "Pending" %>

        <div class="card-product mb-3 border me-2 justify-content-between">
          <div class="d-flex">
            <%= cl_image_tag b.pokemon.picture.key, alt: b.pokemon.name, class: "avatar" %>
            <div class="card-product-infos">
              <h2><%= b.pokemon.name %></h2>
              <div class="d-flex mt-2">
                <!-- Booking status -->
                  <div class="d-flex gap-1 padding-x">
                    <p style="color: orange;"><i class="fa-solid fa-clock"></i></p>
                    <p><%= b.status %></p>
                  </div>

                <!-- Booking dates -->
                <p class="padding-x border-start"><%= b.start_date.strftime("%B %d, %Y")  %> - <%= b.end_date.strftime("%B %d, %Y")  %></p>
                <!-- Pokemon location -->
                <p class="padding-x border-start">Location: <%= b.pokemon.location %></p>
              </div>
            </div>
          </div>

          <div class="d-grid btn-booking-index">
            <%= link_to "Details", booking_path(b), class:"btn btn-sm btn-primary mb-0" %>
            <%= link_to "Cancel", cancel_booking_path(b), method: :patch,
                      data: {confirm: 'You are about to cancel your booking for this pokemon, are you sure?'},
                      class: "btn btn-sm btn-outline-warning" %>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>

  <!-- FUTURE BOOKINGS -->
  <div class="tab-pane fade" id="nav-future" role="tabpanel" aria-labelledby="nav-future-tab">
    <% @bookings.each do |b| %>
      <% if b.user == @user && b.status == "Confirmed" && Date.today.between?(b.start_date, b.end_date) == false %>

        <div class="card-product mb-3 border me-2 justify-content-between">
          <div class="d-flex">
            <%= cl_image_tag b.pokemon.picture.key, alt: b.pokemon.name, class: "avatar" %>
            <div class="card-product-infos">
              <h2><%= b.pokemon.name %></h2>
              <div class="d-flex mt-2">
                <!-- Booking status -->

                  <div class="d-flex gap-1 padding-x">
                    <p style="color: green;"><i class="fa-solid fa-circle-check"></i></p>
                    <p><%= b.status %></p>
                  </div>

                <!-- Booking dates -->
                <p class="padding-x border-start"><%= b.start_date.strftime("%B %d, %Y")  %> - <%= b.end_date.strftime("%B %d, %Y")  %></p>
                <!-- Pokemon location -->
                <p class="padding-x border-start">Location: <%= b.pokemon.location %></p>
              </div>
            </div>
          </div>

          <div class="d-grid btn-booking-index">
            <%= link_to "Details", booking_path(b), class:"btn btn-sm btn-primary mb-0" %>
            <%= link_to "Cancel", cancel_booking_path(b), method: :patch,
                      data: {confirm: 'You are about to cancel your booking for this pokemon, are you sure?'},
                      class: "btn btn-sm btn-outline-warning" %>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>

  <!-- PAST BOOKINGS -->
  <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">
    <% @bookings.each do |b| %>
      <% if b.user == @user && b.status == "Completed" %>

        <div class="card-product mb-3 border me-2 justify-content-between">
          <div class="d-flex">
            <%= cl_image_tag b.pokemon.picture.key, alt: b.pokemon.name, class: "avatar" %>
            <div class="card-product-infos">
              <h2><%= b.pokemon.name %></h2>
              <div class="d-flex mt-2">
                <!-- Booking status -->
                  <div class="d-flex gap-1 padding-x">
                    <p style="color: grey;"><i class="fa-solid fa-circle"></i></p>
                    <p><%= b.status %></p>
                  </div>
                <!-- Booking dates -->
                <p class="padding-x border-start"><%= b.start_date.strftime("%B %d, %Y")  %> - <%= b.end_date.strftime("%B %d, %Y")  %></p>
                <!-- Pokemon location -->
                <p class="padding-x border-start">Location: <%= b.pokemon.location %></p>
              </div>
            </div>
          </div>

          <div class="d-grid btn-booking-index">
            <%= link_to "Details", booking_path(b), class:"btn btn-sm btn-primary m-0" %>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>
</div>
