<div class="booking-form">

  <h2 style="text-align: center">Create a booking</h2>
  <%= simple_form_for [@pokemon, @booking] do |f| %>
    <div class="form-content">
      <div class="left-form">
        <%= image_tag "pikachu-silhouette.png", class:"image-left-form", alt:"..."%>
      </div>
      <div class="right-form">
        <div class="start-date">
          <%= f.input :start_date, as: :date %>
        </div>
        <div class="end-date">
          <%= f.input :end_date, as: :date %>
        </div>
      </div>
    </div>
    <%= f.submit "Create booking", class:"btn btn-grad submit" %>
  <% end %>
</div>
