<h2 style="text-align: center;">Create a booking</h2>
  <div class="booking-form">
  <%= simple_form_for [@pokemon, @booking] do |f| %>
    <div class="form-content">
      <div class="left-form">
        <% picture = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/#{@pokemon.pokedex_entry}.png" %>
        <%= image_tag picture, class:"image-left-form", alt:@pokemon.name%>
      </div>
      <div class="right-form">
        <div class="start-date">
          <%= f.input :start_date, as: :date, html5: true %>
        </div>
        <div class="end-date">
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
      </div>
    </div>
    <%= f.submit "Create booking", class:"btn btn-grad submit" %>
  <% end %>
</div>
