<%= link_to 'Back', bookings_path %>
<% if @booking.status == "Confirmed" %>
  <h1 class="mt-3 mb-3">Your booking has been confirmed!</h1>
<% else %>
  <h1 class="mt-3 mb-3">Your Booking is pending confirmation.</h1>
<% end %>

<div class="container-confirmation">
  <div>
    <p class="mt-2"><b>Booking Details</b></p>
    <p>Booked from <b><%= @booking.start_date.strftime("%B %d, %Y") %></b> to <b><%= @booking.end_date.strftime("%B %d, %Y") %></b></p>
    Pick-up location: <%= @booking.pokemon.location %></p>
  </div>

  <div class="border-top mb-3" id="confirmation-pokemon">
    <p class="mt-2 mb-2"><b>Pokemon</b></p>
    <div class="d-flex align-items-center gap-3">
        <%= link_to pokemon_path(@booking.pokemon) do%>
            <% picture = "https://assets.thesilphroad.com/img/pokemon/icons/96x96/#{@booking.pokemon.pokedex_entry}.png" %>
            <%= image_tag picture, alt: @booking.pokemon.name %>
          <%#= image_tag @booking.pokemon.picture, atl:@booking.pokemon.name, class:"avatar avatar-large" %>
        <% end %>

        <%= link_to @booking.pokemon.name, pokemon_path(@booking.pokemon) %>

      <div>
        <p>Level: <%= @booking.pokemon.level %></p>
      </div>
      <div>
        <p>Type: <%= @booking.pokemon.pokemon_type %></p>
      </div>
    </div>
  </div>

  <div class="border-top mb-4">
    <p class="mt-2"><b>Charges</b></p>

    <table>
      <tr>
        <td>Rate</td>
        <td>$<%= @booking.pokemon.rate %>/day</td>
      </tr>
      <tr>
        <% if (@booking.end_date - @booking.start_date).to_i == 0 %>
          <td>Total</td>
          <td> $<%= @booking.pokemon.rate %></td>
        <% else %>
          <td>Total</td>
          <td> $<%= (@booking.end_date - @booking.start_date).to_i*@booking.pokemon.rate  %></td>
        <% end %>
      </tr>
    </table>
  </div>

<%= link_to "Delete this booking",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</div>
