<h1><%= @pokemon.name %></h1>
<h3>Rate: <%= @pokemon.rate %> / Level: <%= @pokemon.level %></h3>
<p>Type: <%= @pokemon.type %> / Location: <%= @pokemon.location %></p>
<p><%= @pokemon.description %></p>
<img src=<%= @pokemon.picture %> alt="Picture">
