<h1><%= @booking.pokemon.name %></h1>
<h3>Rate: <%= @booking.pokemon.rate %> / Level: <%= @booking.pokemon.level %></h3>
<p>Type: <%= @booking.pokemon.pokemon_type %> / Location: <%= @booking.pokemon.location %></p>
<p><%= @booking.pokemon.description %></p>
<img src=<%= @booking.pokemon.picture %> alt="Picture">
