<div class="navbar navbar-expand-sm navbar-text navbar-lewagon">
  <div class="container-fluid">

    <div>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "mewlogo.png", atl:"mewbnb logo", class:"rounded-circle logo" %>
          <% end %>
        </li>
        <li class="nav-item ">
        <%= link_to "Mewbnb", root_path, class: "nav-link mewbnb" %>
        </li>
      </ul>
    </div>

    <div>
      <form action="" class="home-search">
        <input type="search" class="home-input" required>
        <i class="fa fa-search"></i>
        <a href="javascript:void(0)" id="clear-btn" class=searchbar>Clear</a>
      </form>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto nav-text">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if current_page?("#") %>">

            <%= link_to "Browse Pokemon", pokemons_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "pokemon-trainer.png", class: "avatar dropdown-toggle avatar-large avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end nav-text" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>

              <%= link_to "Account", user_path(@user), class: "dropdown-item border-bottom" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-link btn rounded-pill", id:"signup" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
