<div class="poke-booking-form">
  <%= simple_form_for @pokemon do |f| %>
        <%= f.input :name %>
        <%= f.input :pokemon_type, collection: ["Normal", "Fire", "Water", "Grass", "Electric", "Ice", "Fighting", "Poison", "Psychic", "Ground", "Flying", "Bug", "Rock", "Ghost", "Dark", "Dragon", "Steel", "Fairy"] %>
        <%= f.input :location %>
        <%= f.input :level, collection: 1..100 %>
        <%= f.input :rate, as: :numeric %>
        <%= f.input :description %>
    <div class="poke-btn">
      <%= f.submit class: "btn btn-grad" %>
    </div>
  <% end %>
</div>
