<% file_path = File.join(Rails.root, 'db', 'species.json') %>
<% file = File.read(file_path) %>
<% species_list = JSON.parse(file) %>

<div class="poke-booking-form">
  <%= simple_form_for @pokemon do |f| %>
        <%= f.input :name, collection: species_list, input_html: { data: { controller: 'select2' }} %>
        <%= f.input :location %>
        <%= f.input :level, collection: 1..100 %>
        <%= f.input :rate, as: :numeric %>
        <%= f.input :description %>
        <%= f.input :picture, as: :file %>
    <div class="poke-btn">
      <%= f.submit class: "btn btn-grad" %>
    </div>
  <% end %>
</div>
