<div class="parent">
    <%= image_tag 'Pokemon_space.jpg', alt: 'background', class:"background" %>
  <div class="main_logo">
    <%= image_tag 'Pokemon_logo.png', alt: 'pokemon_logo', class:"pokemon_logo" %>
    <%= image_tag 'mew.png', alt: 'mew', class:"mew" %>
    <form action="" class="home-search">
      <input type="search" class="home-input" required>
      <i class="fa fa-search"></i>
      <a href="javascript:void(0)" id="clear-btn" class=searchbar>Clear</a>
    </form>
  </div>
  <div class="trainer-container">
      <%= image_tag 'male_trainer.png', alt: 'male_trainer', class:"male_trainer" %>
      <%= image_tag 'female_trainer.png', alt: 'female_trainer', class:"female_trainer" %>
  </div>
</div>
