
<div class="container">
  <div>
    <%= link_to "➕ Add a pokemon", new_pokemon_path %>
  </div>
  <hr>
  <h1 class="available">Available pokemons</h1>
  <hr>
  <div class="card-container">
    <% @pokemons.each do |p| %>
      <% if p.booking != nil && p.booking.status.capitalize == "Available" %>
        <div class="card" data-text="<%= p.name %>">
          <div class="imgBox">
            <%= image_tag p.picture, alt: p.name, class:"ivysaur" %>
          </div>
          <div class="contentBox">
            <h2><%= link_to p.name, pokemon_path(p) %></h2>
            <div class="type">
              <h3>Type :</h3>
              <span><%= p.pokemon_type %></span>
            </div>
            <div class="level">
              <h5>Level : <%= p.level %></h5>
            </div>
            <%= link_to "Book now", new_pokemon_booking_path(p), class: "btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
