<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h1>Registered Pokemons</h1>
    <%= link_to "➕ Add a pokemon", new_pokemon_path %>
  </div>
  <h4>Here is a list of all the registered pokemons on the platform.</h4>
  <br>
  <table style="table-layout: fixed; width: 70vw;">
    <% @pokemons.each do |p| %>
      <% if p.booking.nil? && p.user != @user %>
      <% else %>
      <tr>
        <div class="card-container">
          <div class="card">
            <div class="imgBox">
              <%= image_tag 'Ivysaur.jpg', alt: 'ivysaur', class:"ivysaur" %>
            </div>
            <div class="contentBox">
              <h2><%= link_to p.name, pokemon_path(p) %></h2>
              <div class="type">
               <h3 class="type-info">Type :</h3>
                <span><%= p.pokemon_type %></span>
              </div>
              <div class="level">
               <h3>Level : <%= p.level %></h3>
              </div>
              <div class="location">
               <h3>Location : <%= p.location %></h3>
              </div>
              <a href="#">Book Now</a>
           </div>
         </div>
      </div>

        <td><%= p.rate %></td>
        <% if p.booking == nil && p.user == @user %>
          <td><%= link_to "Create an offer", new_pokemon_booking_path(p) %></td>
        <% elsif p.booking != nil %>
          <td><%= p.booking.status %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
