<div class="container">
  <h1><%= @pokemon.name %></h1>
  <h3>Rate: <%= @pokemon.rate %> / Level: <%= @pokemon.level %></h3>
  <p>Type: <%= @pokemon.pokemon_type %> / Location: <%= @pokemon.location %></p>
  <p><%= @pokemon.description %></p>
  <img src=<%= @pokemon.picture %> alt="Picture">
  <li><%= link_to "Book this Pokemon", new_pokemon_booking_path(@pokemon) %> </li>
  <li><%= link_to "Edit this Pokemon", edit_pokemon_path %></li>
</div>
