<div class="btn-back">
  <%= link_to pokemons_path do %>
    <i class="fa-solid fa-reply"></i>
    <% end %>
</div>

<!-- POKEMON CARD -->
<% if @pokemon.user != @user %>

  <%= render 'shared/show_trainer' %>

<% elsif @pokemon.user == @user %>

  <%= render 'shared/show_gym_leader' %>

<% end %>



<!-- MAP -->
<div class="map-container">
  <div class="map-box"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    map.flyTo({center: [0, 0], zoom: 9});

    map.flyTo({
    center: [0, 0],
    zoom: 9,
    speed: 0.2,
    curve: 1,
    easing(t) {
    return t;
    }
  });
  </div>
</div>

<!-- EXPLORE MORE POKEMONS -->

<div class="container-explore-box">
  <h2 >Explore more pokemons</h2>

  <div class="pokemon-explore row row-cols-1 row-cols-md-3 g-4 mt-2">

    <% @pokemons.reject { |p| p == @pokemon }.sample(3).each do |p| %>
      <div class="pokemon-explore-card">
        <%= link_to pokemon_path(p) do %>
          <div class="col">
            <div class="card">
              <% picture = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/#{p.pokedex_entry}.png" %>
              <%= image_tag picture, class:"card-img-top", alt: p.name %>
              <div><p class="text-center">Level: <%= p.level %></p></div>
              <div class="card-body d-flex justify-content-between border-top">
                <h5 class="card-title"><%= p.name  %></h5>
                <p class="card-text"> $<%= p.rate %>/day</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
