<div class="container">

  <div class="border">
    <h1><%= @pokemon.name %></h1>
    <p><%= @pokemon.location %></p>
  </div>
  <div class="pokemon-details d-flex">
    <div class="pokemon-details-left">
      <div class="pokemon-img">
        <%= image_tag 'pikachu-silhouette', atl: "Your pokemon picture" %>
        <!--img src=<%= @pokemon.picture %> alt="Picture"-->
      </div>

      <h3>Rate: <%= @pokemon.rate %> / Level: <%= @pokemon.level %></h3>
    </div>
    <div class="pokemon-details-right">
      <p>Type: <%= @pokemon.pokemon_type %></p>
      <p><%= @pokemon.description %></p>
    </div>


    <p><%= link_to "Book this Pokémon", new_pokemon_booking_path(@pokemon) %></p>
  </div>
</div>
