<!DOCTYPE html>
<html>
  <head>
    <title>Mewbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<div class="navbar navbar-expand-sm navbar-text navbar-lewagon">
  <div class="container-fluid">

    <div>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag "mewlogo.png", class:"rounded-circle logo" %>
          <% end %>
        </li>
        <li class="nav-item ">
        <%= link_to "Mewbnb", "#", class: "nav-link mewbnb" %>
        </li>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto nav-text">
        <%# if user_signed_in? %>
          <li class="nav-item <%= 'active' if current_page?("#") %>">

            <%= link_to "Listings", "#", class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?("#") %>">
            <%= link_to "Pokemons", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "pokemon-trainer.png", class: "avatar dropdown-toggle avatar-large avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end nav-text" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", "#", class: "dropdown-item border-bottom" %>
              <%= link_to "Become a Gym Leader", "#", class: "dropdown-item" %>

              <%= link_to "Account", "#", class: "dropdown-item border-bottom" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
           <!--li class="nav-item"-->
            <%#= link_to "Sign-up", "#", class: "nav-link btn rounded-pill", id:"signup" %>
          <!--/li-->

        <%# end %>
      </ul>
    </div>
  </div>
</div>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
