<!DOCTYPE html>
<html>
  <head>
    <title>Mewbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
  <footer>
    <div class="footer">
      <div id="button"></div>
        <div id="container">
          <div id="cont">
            <div class="footer_center">
	            <h3>Mewbnb</h3>
                <ul>
                  <li>Billy Veillette-Daigle</li>
                  <li>Wendy Pham</li>
                  <li>Jonathan Jenin</li>
                  <li>Randja Raharijaona</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
